*{
    margin: 0px;

}
#header{
    background-color: #161925;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding:5px;

}

#article4{
    background-color: darkred;
    float:right;
    display:flex;
    padding:5px;
    width:50%;
    text-align: right;
    align-items: center;
}

#sidebar{
    background-color: cadetblue;
    float:right;
    margin-left: 10%;
    width:50%;
}
#rightSide{
    display:flex;
    flex-direction: row;
    width:50%;
    float:right;
    margin-left: 5%;
    text-align: right;
}


#article2{
    background-color: aliceblue;
    padding:5px;
    text-align: right;
}
#article3{
    background-color: aqua;
    padding:5px;
    margin-left: 10%;
    text-align: right;
}
#article6{
    background-color: bisque;
    padding:5px;
    text-align: left;

}
#block23{
    display:flex;

}
#leftSide{
    width:50%;
    display:flex;
    flex-direction: column;
}

#main{
  display:flex;
}
#footer{
    background-color: #161925;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding:5px;
}
#footer h1{
    margin-right: 10px;
}